.select{
    width: 100%;    
}
.select select{
    width: 100%;
}
.work-exp-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.work-exp-title > a {
  opacity: 0.6;
  text-decoration: underline;
}
.work-exp{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 2rem;
  /* background-color: red; */
}
.work-exp div {
  display: flex;
  margin-right: 1rem;
  margin-bottom: 2rem;
}
.work-exp div i {
  margin-top: 1rem;
  padding-right: 1rem;
}
.work-exp > div > div {
  display: flex;
  flex-direction: column;
}
.work-exp > div > div > h3 {
  font-weight: 600;
}
.work-exp > div > div > p:nth-child(even){
  opacity: 0.8;
  font-size: .9rem;
}
.work-exp > div > div > p:nth-child(odd){
  opacity: 0.6;
  font-size: 0.8rem;
}
.work-exp > div > div > a {
  opacity: 0.4;
  font-size: 0.8rem;
  text-decoration: underline;
}
#experience-modal .input {
  border: 1px solid #4a4a4a76 !important;
}
select[name='worktype']{
  border: 1px solid #4a4a4a76 !important;

}
.notification{
    position: fixed;
    bottom: 1vw;
    right: 28vw;
    z-index: 1;
}
.apply-success > div:first-child > h1{
  font-size: 2vw;
}
.apply-success-message > p {
  font-size: 1.2vw;
}
.apply-success-thanks > h1{
  font-size: 1.4vw;
}
.slide-in-bottom {
	-webkit-animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-out-bottom {
	-webkit-animation: slide-out-bottom 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-bottom 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-bottom {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
@-webkit-keyframes slide-out-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
  }
  @keyframes slide-out-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
  }
  
  /* ================= Media Queries Section (MK) =================== */

/* ================= 1215px Screen Section (MK) =================== */
@media screen and (max-width: 1215px) {

}
/* ================= 1170px Screen Section (MK) =================== */
@media screen and (max-width: 1170px) { 
}
/* ================= 1023px Screen Section (MK) =================== */
@media screen and (max-width: 1023px) {
  .apply-success > div:first-child {
    margin-top:8rem;
  }
  .apply-success > div:first-child > h1{
    font-size: 2.4vw;
  }
  .apply-success-message > p {
    font-size: 1.6vw;
  }
  .apply-success-thanks > h1{
    font-size: 1.8vw;
  }
}
/* ================= 768px Screen Section (MK) =================== */
@media screen and (max-width: 768px) {
  .apply-success > div:first-child {
    margin-top: 4vw;
  }
  .apply-success > div:first-child > h1{
    font-size: 2.6vw;
  }
  .apply-success-message > p {
    font-size: 1.8vw;
  }
  .apply-success-thanks > h1{
    font-size: 2vw;
  }
}
/* ================= 480px Screen Section (MK) =================== */
@media screen and (max-width: 480px){
  .apply-success > div:first-child > h1{
    font-size: 4.4vw;
  }
  .apply-success-message > p {
    font-size: 3vw;
  }
  .apply-success-thanks > h1{
    font-size: 4vw;
  }
  .apply-success-img > img{
    width: 60vw;
  }
}