.cart-container  {
    width: 96%;
    margin: auto;
    margin-top: 8rem;
    padding: 3rem;
}
.cart-container > h1 {
    font-size: 2vmax;
    font-weight: bold;
    padding-bottom: 2rem;
}
.cart-container .my-cart {
    /* padding-left: 2rem; */
    border-bottom: 1px solid #B3BED5;
    padding-bottom: 1rem;
    margin-top: 2rem;
}
.cart-container .my-cart > .course-info > a{
    font-size: 1.3vmax;
    font-weight: bold;
    text-transform: capitalize;
    /* white-space: nowrap; */
    overflow: hidden;
    text-overflow: ellipsis;

}
.cart-container .my-cart input,
.cart-container .my-cart img,
.cart-container .my-cart .course-info
{
    padding-left: 1rem;
}
.cart-container .my-cart img {
    width:14vw;
    height: 10vw;
    border-radius: 10px;
}
.cart-container .my-cart,.course-info{
    display: flex;
    cursor: pointer;
    /* align-items: center; */
}
.cart-container .my-cart .course-info {
    flex-direction: column;
    /* justify-content: space-between; */
}
.cart-container .my-cart .course-info div{
    display: flex;
}
.cart-container .my-cart .course-info .instructor-rating{
    padding-bottom: 0.6rem;
}
.cart-container .my-cart .course-info .instructor-rating p {
    color: #4F6494;
    font-weight: 500;
    font-size: 1vw;
    text-transform: capitalize;
}
.cart-container .my-cart .course-info > div > div{
    flex-direction: row;
    align-items: center;
    margin-left:0.4rem;  
}
.cart-container .my-cart .course-info > div > div > img {
    width: 1vw;
    height: auto;
    padding: 0;
}
.cart-container .my-cart .course-info > div:last-child{
    /* margin-top: auto; */
    flex-direction: column;
}
.cart-container .my-cart .course-info > div:last-child > p{
    font-size: 1.2vmax;
    font-weight: bold;
}
.cart-container .my-cart .course-info > div:last-child > a{
    font-size: 0.8vmax;
    color: #4F6494;
    text-decoration: underline;
}
.modal-content .box {
    text-align: center;
}
.modal-content .box p:first-child{
    font-size: 2vw;
    padding: 1rem;
    font-weight: 500;
    color: var(--primary);
}
.modal-content .box p:nth-child(even){
    padding-bottom: 1rem;
    font-weight: 500;
    color: #4F6494;
}
/* ================= 1170px Screen Section (MK) =================== */
@media screen and (max-width: 1170px) {
    .cart-container .my-cart > .course-info{
        width: 80%;
        /* background-color: red; */
    }
    .cart-container .my-cart > .course-info > a{
        white-space: nowrap;
           
    }
}
/* ================= 1023px Screen Section (MK) =================== */
@media screen and (max-width: 1023px) {
    .cart-container > h1{
        font-size: 2.6vw;
    }
    .cart-container .my-cart > .course-info > a {
        font-size: 1.6vw;
    }
    .cart-container .my-cart .course-info .instructor-rating p{
        font-size: 1.3vw;
    }
    .cart-container .my-cart .course-info > div:last-child > p{
        font-size: 1.5vw;
    }
    .cart-container .my-cart .course-info > div:last-child > a {
        font-size: 1.2vw;
    }
    .modal-content .box p:first-child{
        font-size: 3vw;
    }
}
/* ================= 768px Screen Section (MK) =================== */
@media screen and (max-width: 768px) {
    .cart-container > h1{
        font-size: 3.6vw;
    }
    .cart-container .my-cart > .course-info > a {
        font-size: 2.4vw;
    }
    .cart-container .my-cart .course-info .instructor-rating p{
        font-size: 2vw;
    }
    .cart-container .my-cart .course-info > div:last-child > p{
        font-size: 2.2vw;
    }
    .cart-container .my-cart .course-info > div:last-child > a {
        font-size: 1.6vw;
    }
    .cart-container .my-cart img{
        width: 20vw;
        height: 14vw;
    }
    .modal-content .box p:first-child{
        font-size: 3.4vw;
    }
    .modal-content .box p:nth-child(even){
        font-size: 2vw;
    }
    .modal-content{
        padding: 1rem;
    }
    .modal-content .box .button{
        font-size: 2.4vw;
    }
}
/* ================= 480px Screen Section (MK) =================== */
@media screen and (max-width: 480px) {
    .cart-container .my-cart > .course-info{
        width: 70%;
    }
    .cart-container  {
       padding: 1rem;
    }
    .cart-container{
        width: 80%;
    }
    .modal-content .box p:first-child{
        font-size: 5vw;
    }
    .modal-content .box p:nth-child(even){
        font-size: 3vw;
    }
    .modal-content .box .button{
        font-size: 3vw;
    }
}
  