* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Cart for checkout */
main .container.checkBox {
    margin-top: 4vw !important;
    
}
.checkOutBox {
    background-color: #fff;
    color: #01226F;
    padding: 2rem;
    margin-top: 8rem;
}

h1 {
    /* margin-bottom: 45px; */
    font-weight: 600;
    font-size: 2em;
}

.cartAndPrice {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 4vw;
}

.checkCarts::-webkit-scrollbar {
    width: 0.5em;
}

.checkCarts::-webkit-scrollbar-track {
    background: none;
}

.checkCarts::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 60%);
    border-radius: 100vw;
}

.checkCarts {
    width: 70%;
    height: 500px;
    overflow: scroll;
    padding: 0.5vw;
}

.cart {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1.5vw;
}
.cart > .text {
    width: 40vw;

}
.videoCart {
    width: 100px;
    height: 100px;
    margin-right: 1vw;
    border-radius: 15px;
}
.text > div > img {
    width: 1rem;
    margin-top: 1rem;
}
.text>h2 {
    font-weight: 600;
}

.text>h2+p {
    font-weight: 300;
    font-size: 0.9em;
}

.text>p {
    position: relative;
}

/* .text>.rating {
    margin-top: 1vw;
} */
.rating>img {
    width: 3vw;
    height: 3vh;
}

.hrAndLectures {
    font-weight: 600;
    font-size: 0.6em;
}

.cart .price {
    margin-bottom: 5vw;
    font-weight: 600;
}
.price-show-on-mobile{
    display: none;
}
/*start button Checkout */
.checkout {
    width: 100%;
    height: 40px;
    background-color: #01226F;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 120px;
    color: #fff;
}
/*end button Checkout */

/*start payment checkout price */
.paymentCost{
    display: flex;
    flex-direction: column;
    padding: 2vh;
    width: 35vw;
    margin: 0 auto;
    margin-bottom: 70vh;
    width: 30%;

}
.paymentCost > div {
    display: flex;
    justify-content: space-between;

}
.paymentCost .cost{
    margin-right: 1vw;
}
.paymentCost .cost hr{
    width: 200%;
}
/*end payment checkout price */

.relatedCourse{
    margin-top: 3rem;
}

/* .courses::-webkit-scrollbar {
    width: 0.3em;
}

.courses::-webkit-scrollbar-track {
    background: none;
}

.courses::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 60%);
    border-radius: 80vw;
}

.courses .cards {
    position: relative;
    width: 370px;
    height: 370px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 3em 3em 0;
}

.courses .cards a img {
    width: 100%;
}

.courses .cards .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.courses .cards .details .detail {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
}

.courses .cards .details .detail .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.2em;
}

.courses .cards .details .detail ion-icon {
    font-size: 15px;
}

.courses .cards .details .detail .content span {
    font-size: 10px;
}

.courses .cards .details .detail .content h4 {
    font-size: 12px;
    color: #01226F;
}

.courses .cards h2 {
    padding: 1em;
    font-weight: bold;
}

.courses .cards .rating {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

.courses .cards .rating .star {
    color: #e9b556;
} */
/*end courses carts */
@media screen and (max-width: 1407px) {
    .paymentCost{
        padding: 1vh 0vh 0vh 0vh;
    }
    .cart{
        margin-bottom: 3rem;
    }
    .cart > .text{
        width: 30vw;
    }
    .cart .price{
        margin-left: 4rem;
    }
}
@media screen and (max-width: 1217px) {
    .cart{
        margin-bottom: 3rem;
    }
    .cart > .text{
        width: 30vw;
    }
    .cart .price{
        margin-left: auto;
        margin-right: 1rem;
    }
}
@media screen and (max-width: 930px) {
    .checkOutBox {
        margin-top: 0rem;
    }
    .checkCarts{
        width: 100%;
    }
    .paymentCost{
        width: 80%;
        margin-bottom: 0;
    }
    .cart > .text{
        width: 50vw;
    }
}
@media screen and (max-width: 820px) {
    .checkCarts {
        width: 100%;
        height: 100%;
        margin-bottom: 5vw;
        align-items: center;
        font-size: 0.9em;
    }
    .paymentCost{
        width: 100%;
        font-size: 1em;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 768px) {
    .cart .price{
        display: none;
    }
    .price-show-on-mobile{
        display: block;
        padding-top: 1rem;
    }
    .cart > .text{
        width: 100%;
        margin-left: 1rem;
    }
  
}