.user-profile {
  width: 113px;
  height: 113px;
  border-radius: 50%;
}
/* 
.mt-3-mobile {
  margin-top: 0;
} */

.no-padding {
  padding: 0%;
}

.ml-7 {
  margin-left: 4rem !important;
}

.ml-8-responsive {
  margin-left: 5rem !important;
}

.ml-9 {
  margin-left: 6rem !important;
}

.ml-10-responsive {
  margin-left: 7rem !important;
}

.no-margin-bot {
  margin-bottom: 0 !important;
}

.is-center-crop {
  height: 150px !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}

.cards {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 3em 3em 0;
  overflow: hidden;
}
.cards img {
  width: 100%;
}
.cards .details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.cards .details .detail {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}
.cards .details .detail .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.2em;
}
.cards .details .detail ion-icon {
  font-size: 15px;
}
.cards .details .detail .content span {
  font-size: 10px;
}
.courses .cards .details .detail .content h4 {
  font-size: 12px;
}
.courses .cards h2 {
  padding: 1em;
  font-weight: bold;
}
.cards .rating {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}
.cards .rating .star {
  color: #e9b556;
}
.price {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3em 1em;
  background: #01226f;
  color: #fff;
  border-top-right-radius: 0.25rem ;
}

.short-progress {
  width: 40% !important;
  height: 4px !important;
}

.ml-5-mobile {
    margin-left: 0 !important;
}

.progress.is-yellow::-webkit-progress-value {
  background-color: hsl(39deg, 77%, 63%);
}
.progress.is-white::-moz-progress-bar {
  background-color: hsl(39deg, 77%, 63%);
}
.progress.is-white::-ms-fill {
  background-color: hsl(39deg, 77%, 63%);
}

@media screen and (max-width: 768px) {

    .user-profile {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        /* margin-top: 70px; */

    }   

    .ml-10-responsive {
        margin-left: 0.75rem !important;
    }

    .ml-8-responsive {
        margin-left: 0 !important;
    }
    
    .ml-5-mobile {
        margin-left: 1.5rem !important;
    }

}