/* ================= EXPLORE SECTION =================== */
.container .home_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .container .home_content .text p {
    font-size: 3em;
    font-weight: bold;
    position: relative;
  }
  .container .home_content .text p img {
    position: absolute;
    width: 180px;
    top: 1em;
    right: 8em;
  }
  .container .home_content .img {
    width: 600px;
  }
  
  .container .start_learning {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
  }
  .container .start_learning .categories {
    display: flex;
    align-items: center;
    margin-top: 2em;
  }
  .container .start_learning .categories p {
    margin: 0 0.5em;
    cursor: pointer;
  }
  .container .start_learning .categories p.active {
    font-weight: bold;
  }
  
  @media screen and (max-width: 1100px) {
    .container .home_content .text p {
      font-size: 2em;
    }
    .container .home_content .text p img {
      width: 100px;
    }
    .container .home_content .img {
      width: 400px;
    }
  }
  @media screen and (max-width: 930px) {
    .container {
      padding: 5em 2em 0 2em;
    }
    .container .home_content {
      padding: 0 2em;
    }
  }
  @media screen and (max-width: 820px) {
    .container .home_content .text p {
      font-size: 1.5em;
    }
    .container .home_content .text p img {
      width: 80px;
    }
  }
  @media screen and (max-width: 768px) {
    .container .home_content .img {
      display: none;
    }
    .container .start_learning .categories {
      flex-wrap: wrap;
    }
  }
  
  .courses {
    display: flex;
    flex-wrap: nowrap;
    overflow-y: none;
    overflow-x: scroll;
    margin-top: 3em;
  }
  .courses::-webkit-scrollbar {
    display: none;
  }
  .courses .cards {
    position: relative;
    width: 350px;
    height: 350px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 3em 3em 0;
    overflow: hidden;
  }
  .courses .cards img {
    width: 100%;
  }
  .courses .cards .details {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .courses .cards .details .detail {
    display: flex;
    align-items: center;
    padding: 0.5em 1em;
  }
  .courses .cards .details .detail .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 0.2em;
  }
  .courses .cards .details .detail ion-icon {
    font-size: 15px;
  }
  .courses .cards .details .detail .content span {
    font-size: 10px;
  }
  .courses .cards .details .detail .content h4 {
    font-size: 12px;
  }
  .courses .cards h2 {
    padding: 1em;
    font-weight: bold;
  }
  .courses .cards .rating {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
  }
  .courses .cards .rating .star {
    color: #e9b556;
  }
  .courses .cards .price {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.3em 1em;
    background: #01226f;
    color: #fff;
  }
  .navbar-item,
  .dropdown-item {
    cursor: pointer;
  }
  .dropdown {
    display: none;
  }
  @media screen and (max-width: 1024px) {
    .dropdown {
      display: block;
    }
  }
  
  /* ================= COURSE INFO SECTION =================== */
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cards {
    position: relative;
    width: 350px;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 2em;
  }
  .cards .price {
    display: flex;
    align-items: center;
    padding: 0.5em 0;
  }
  .cards .price p:nth-child(2) {
    text-decoration: line-through;
    margin: 0 0.5em;
  }
  .cards .buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
  }
  .cards .buttons .button {
    width: 100%;
    height: 50px;
    margin: 0.5em 0;
  }
  .cards .buttons .button:nth-child(2) {
    margin-right: 0.5em;
  }
  .cards .wish {
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    font-size: 3em;
  }
  .details .star {
    color: #e9b556;
    margin-right: 0.5em;
  }
  .details p {
    margin-bottom: 1em;
  }
  .details p a {
    text-decoration: underline;
  }
  @media screen and (max-width: 768px) {
    .info {
      flex-direction: column;
    }
  }
  
  .profit {
    width: 100%;
    margin: 5em 0em;
    padding: 1em 3em 1em 1em;
    border: 2px solid #01226f;
  }
  .profit .lists {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.5em;
  }
  .profit .lists ul li {
    margin: 1.5em;
  }
  .profit .lists ul li ion-icon {
    margin-right: 0.5em;
  }
  
  .requirements {
    padding: 1em 3em 1em 1em;
  }
  .requirements .lists ul li {
    margin: 1.5em;
  }
  .requirements .lists ul li ion-icon {
    margin-right: 0.5em;
  }
  
  .description p {
    margin: 1em 0;
  }
  .description p:nth-child(2) {
    line-height: 200%;
  }
  
  .coursefor p {
    margin: 1em 0;
  }
  .coursefor p:nth-child(2) {
    line-height: 200%;
  }