.paymentBox{
    width: 80%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 3vw;
}
.paymentCards {
    text-align: center;
    margin-bottom: 8vh;
}
input[type="radio"]{
    opacity: 0;
}
.paymentCards label img{
    padding: 1vh 2.5vw 1vh 2.5vw;
    border: 1px solid #01226F;
    margin: 2vw;
    opacity: 0.3;
}
.formInput {
    width: 50vw;
    margin: auto;
    margin-bottom: 8vh;
}

.formInput label {
    font-size: 1.2em;
    font-weight: 600;
    display:inline-block;
    margin-bottom: 1rem;
}

.formInput input {
    width: 20vw;
    border-radius: 5px;
    border: 1px solid #01226F;
    padding: 5px;
}

.firstForm,
.secForm {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5vh;
}

.secForm select {
    width: 6vw;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #01226F;
}

#cvc {
    margin-right: 13vw;
}

#cvc input {
    width: 5vw;
    margin-right: 5px;
}
#cvc img {
    width: 1.5vw;
    height: 1.5vw;
}

.saveBox {
    position: relative;
    left: 13vw;
    margin-bottom: 3vh;
    font-size: 0.8em;
}

.paymentCost{
    display: flex;
    padding: 2vh;
    background-color: #FEFBF6;
    width: 80%;
    margin: 0 auto;
}
.paymentCost .cost{
    width: 80%;
}
.paymentCost .promotion, .promoPrice{
    margin-top: 1rem;
}
.paymentCost .price{
    width: 20%;
    text-align: right;
}
.paymentCost .cost hr{
    width: 100%;
    margin-bottom: 1rem;
}
.submitDiv{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 2rem;
}
@media screen and (max-width: 1216px){
    .formInput{
        width: 100%;
    }
    .firstForm, .secForm {
        width: 100%;
    }
    .firstForm > div,.secForm > div {
        width: 50%;
    }
    .firstForm > div > input{
        width: 80%;
    }
    .secForm select{
        width: 40%;
    }
    
    #cvc{
        margin: 0;
    }
    .paymentCost{
        width: 100%;
    }
    .paymentCards{
        display: flex;
        justify-content: space-between;
    }
    .paymentCards label img{
        margin: 0;
    }
    .paymentCards{
        text-align: left;
    }
    #cvc input {
        width: 10vw;
        margin-right: 5px;
    }
}
@media screen and (max-width: 820px) {
    .paymentBox{
        width: 100%;
    }
    .paymentBox > h2 {
        padding-top: 1rem;
        margin-bottom: 8vh !important;
        font-size: 6vw !important;
    }
    #cvc img {
        width: 3.5vw;
        height: 3.5vw;
    }
    #cvc input {
        width: 20vw;
        margin-right: 5px;
    }
    
        /* .paymentBox{
            margin-top: 20vh;
        }
        .paymentBox .title{
            font-size: 1em;
        }
        .formInput label{
            font-size: 0.8em;
        }
        .secForm #expiryDate{
            margin-right: 50px;
        }
        .secForm select, #cvc input{
            width: 50px;
        } 
        #cvc img {
            width: 15px;
            height: 15px;
        }
        .paymentCost{
            width: 290px;
            height: 220px;
        }
        .submit{
            width: 150px;
            font-size: 0.8em;
            padding: 5px;
        } */
}
@media screen and (max-width: 400px) {
    main .container {
        width: 100%;
        padding: 1rem;
    }
}