.navbar-end a {
   color:  rgba(1, 34, 111, 0.62);
}
.navbar-end a:hover{
    font-weight: bold;
}
.navbar-end a.active{
    color: #01226F;
    font-weight: bold;
    border-bottom: 2px solid #01226F;
}
main .container{
    margin-top: 10%;
}
.badge{

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
    /* padding: 4px; */
    border-radius: 50%;
    background-color: #01226F;
    color: #ffffff;

}
footer{
    background-image: url("../img/header_footer/footer\ background.svg");
    background-size: cover;

    /* background-size: 80%; */
    background-repeat: no-repeat;
   /* background-attachment: fixed; */
}
footer .container {
    margin-top: 30%;
}
.m10{
    margin-top: 10rem;
}