
:root {
  --primaryBackgroundColor: #fefbf6;
  --secondaryBackgroundColor: #f3b33e;

  --primary: #01226f;
  --secondary: #f3b33e;
}
/* ================= Navigation Bar (MK) =================== */
body{
  width: 100vw;
}
main{
  width: 100vw;
  overflow: hidden;
}
.secondaryColor {
  background-color: var(--secondary) !important;
}
.navbar-end a {
  color: rgba(1, 34, 111, 0.62);
}

.navbar-end a:hover {
    font-weight: bold;
}

.navbar-end a.active {
    color: #01226F;
    font-weight: bold;
    border-bottom: 2px solid #01226F;
}
main .container {
    margin-top: 10%;
}
.mobile-nav{
  top: 0;
  left: 0;
  position: absolute;
  background-color: #fefbf6ea;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mobile-nav > i {
  position: absolute;
  right: 2rem;
}
.mobile-nav div{
 width: 100%;
 display: flex;
 justify-content: center;
 margin-bottom: 2rem;
}
.mobile-nav div a{
  color: #FFFFFF;
  text-align: left;
  padding: 1rem;
  margin-right: 1rem;
  font-size: 2vw;
  font-weight: 600;
  color: #01226f6b;

}
.mobile-active{
  border-bottom: 3px solid var(--primary);
  color: var(--primary) !important;
  font-weight: bold;
}
.mobile-nav div a:hover{
  color: var(--primary);
}
.mobile-nav-switch{
  width: 100%;
  display: none;
  justify-content: flex-end;
  align-items: center;
}
.mobile-nav-switch button{
  margin-right: 0.6rem;
  border: none;
  background-color: transparent;
  color: var(--primary);
}
.close-button{
  top: 40px;
  right: 80px;
  position: absolute;
}
/* ================= Badge, Secure Payment SECTION (MK) =================== */
/* Badge for notification */
.badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  /* padding: 4px; */
  border-radius: 50%;
  background-color: var(--primary);
  color: #ffffff;
}
.login-btn{
  margin-left: 1rem;
}
.secure-payment div {
  padding-left: 0.8rem;

}
/* ================= Footer Section (MK) =================== */
footer {
  background-image: url("../img/header_footer/footer\ background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent !important;
  border-bottom: 2px solid #01226f;
}
main .container {
  margin-top: 10%;
}
.badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  /* padding: 4px; */
  border-radius: 50%;
  background-color: #01226f;
  color: #ffffff;
}
footer {
  background-image: url("../img/header_footer/footer\ background.svg");
  background-size: cover;

  /* background-size: 80%; */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
.footer .container{
  margin-top: 45vw;
}

/* ================= Hero Section (MK) =================== */
.my-hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  height: auto;
  margin-bottom: 4rem;
}
.my-hero-left > p, .my-hero-left div{
  padding-bottom: 2rem;
}
.my-hero-left > div > a {
  box-shadow: 0px 4px 10px rgba(237, 222, 193, 0.2), inset 0px -3px 0px rgba(0, 0, 0, 0.08);
}
.hero-image {
  text-align: center;
}
.hero-image svg,.instructor-img{
  width: 36vw;
}
.instructor-img{
  margin-left: auto;
}
.section-title{
  font-size: 3.6vw;
  font-weight: bold;
}
.section-subtitle{
  font-size: 1.2vw;
  width: 30vw;
}
.is-secondary{
  background-color: var(--secondary);
  border: none;
  color: #FFFFFF;
}
/* ================= Student Voice Section (MK) =================== */
.student-voice {
  margin-top: 4rem;
  padding-left: 4rem;
}
.student-voice > h1{
  text-align: center;
  margin-bottom: 4rem;
}
.student-review {
  margin-bottom: 2rem;
}
.review{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.profile{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 3rem;
}
.profile img {
  margin: auto;
}
.review-content{
  width: 80%;
}
.review-content div {
  width: fit-content;
  display: flex;
}
.review-content div h1 {
  font-size: 1.6vw;
  font-weight: 600;
  font-style:italic;
  padding: 0px 10px;
}
.review-content div i {
  color:rgba(1, 34, 111, 0.33);;
}
.review-content div i:last-child {
  margin-left: auto;
}
.review-content p {
  padding-top: 2rem;
  padding-left: 1.5rem;
  width: 60%;
  
}
.review-content img {
  padding-top: 2rem;
  padding-left: 1.5rem;
}
.reverse .review {
  width: 80%;
  margin-left: auto;
}
.reverse .review .review-content p{
  width: 80%;
}

/* ================= Message to user Section (MK) =================== */
.message{
  width: 100%;
  margin-bottom: 4rem;
}
.message-background {
  width: 100%;
  background-color: var(--secondary);
  background-image: url("../img/header_footer/faded\ text.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 4rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.message-background h1{
  padding-left: 3rem;
}
.message-background-image {
  width: 40vw;
  /* margin-right: auto; */
}
.message-hightlight {
  position: relative;
}
.message-hightlight svg {
  position: absolute;
  width: 8vw;
  left: 0;
  bottom: calc(10px - 20px);
}
/* ================= Hightlight SVG Line Section (MK) =================== */
.path {
  stroke-dasharray: 200;
  stroke-dashoffset: 100;
  animation: dash 5s linear infinite;
}
/* Hightlight CSS */
.hightlight {
  color: var(--secondary);
}

/* ================= Hightlight SVG Line Animation Section (MK) =================== */
@keyframes dash {
  from {
      stroke-dashoffset: 1000;

  }

  to {
      stroke-dashoffset: 0;
  }
}
/* ================= Trending Section (MK) =================== */
.trending{
  padding-left: 3rem;
  margin-bottom: 4rem;

}

/* ================= Feature Section (MK) =================== */
.features .features-container {
  display: flex;
}
.features .features-container .features-title{
    width: 60%;
    height: 60vw;
    background-color: var(--primary);
    display: flex;
    align-items: center;
}
.features .features-container .features-title h1 {
  width: 70%;
  padding-left: 6rem;
}
.features-chunk{
  display: flex;
}
.features-card {
  display: flex;
  width: 300px;
  height: 50%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.features-card > div{
  height: 50%;

}
.features-card > div:first-child{
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  align-items: center;
}
.features-card > div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 4rem;
}
.features-card > div:last-child > h1 {
  font-size: 1.4vw;
  font-weight: 600;
  padding-bottom: 2rem;
}
.features-card > div:last-child > p {
  font-size: 1vw; 
  padding: 0rem .6rem;
}
.feature-background-1 {
  background-color: #839ee0 !important;
}
.feature-background-2 {
  background-color: #dde7fe !important;
}

/* Course card css */
.price-tag {
  position: absolute;
  right: 0;
  background-color: var(--primary);
  color: #ffffff;
  padding: 0.8vw;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;

  font-weight: bold;
}
/* ================= Never late to learn Section (MK) =================== */
.never-late-to-learn > div  {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;

}
.never-late-to-learn > div > a {
  font-size: 0.8rem;
}
/* ================= Quiz modal Section (MK) =================== */
.modal-card-head {
  background-color: #ffffff !important;
  border-bottom: none;
  color: var(--primary) !important;
}
.modal-card-body {
  padding-left: 2rem;
}
.modal-card-body > div > label {
  color: #2b4787 !important;
}
.modal-card-foot {
  background-color: #ffffff !important;
  justify-content: flex-end;
}
.radio + .radio {
  margin-left: 0rem;
}

/* ================= General Css Section (MK) =================== */
.register-now {
  background-image: url("../img/header_footer/desk.svg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 0% 75%;
}
.overflow {
  overflow: scroll !important;
}
.status-content {
  font-size: 0.8vw !important;
  color: #4f6494 !important;
}
.primary-light-color {
  color: #7993cf !important;
}

footer .container {
    margin-top: 30%;
}

.m10 {
    margin-top: 10rem;
}

/*start css for privacy policy page */
.privacyBox {
    padding: 8vh;
}

.privacyBox>.title {
    margin-bottom: 10vh;
}
/* ================= EXPLORE SECTION =================== */
.container .home_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .home_content .text p {
  font-size: 3em;
  font-weight: bold;
  position: relative;
}
.container .home_content .text p img {
  position: absolute;
  width: 180px;
  top: 1em;
  right: 8em;
}
.container .home_content .img {
  width: 600px;
}

.privacyBox>.privacyParagraph {
    margin-bottom: 5vh;
}

/*end css for privacy policy page */

.courses {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: none;
  overflow-x: scroll;
  margin-top: 3em;
}
.courses::-webkit-scrollbar {
  display: none;
}
.courses .cards {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 3em 3em 0;
  overflow: hidden;
}
.courses .cards img {
  width: 100%;
}
.courses .cards .details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.courses .cards .details .detail {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}
.courses .cards .details .detail .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.2em;
}
.courses .cards .details .detail ion-icon {
  font-size: 15px;
}
.courses .cards .details .detail .content span {
  font-size: 10px;
}
.courses .cards .details .detail .content h4 {
  font-size: 12px;
}
.courses .cards h2 {
  padding: 1em;
  font-weight: bold;
}
.courses .cards .rating {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}
.courses .cards .rating .star {
  color: #e9b556;
}
.courses .cards .price {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3em 1em;
  background: #01226f;
  color: #fff;
}
.navbar-item,
.dropdown-item {
  cursor: pointer;
}
.dropdown {
  display: none;
}

/* ================= COURSE INFO SECTION (YNW) =================== */
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards {
  position: relative;
  width: 350px;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 2em;
}
.cards .price {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}
.cards .price p:nth-child(2) {
  text-decoration: line-through;
  margin: 0 0.5em;
}
.cards .buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.cards .buttons .button {
  width: 100%;
  height: 50px;
  margin: 0.5em 0;
}
.cards .buttons .button:nth-child(2) {
  margin-right: 0.5em;
}
.cards .wish {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  font-size: 3em;
}
.details .star {
  color: #e9b556;
  margin-right: 0.5em;
}
.details p {
  margin-bottom: 1em;
}
.details p a {
  text-decoration: underline;
}
.profit {
  width: 100%;
  margin: 5em 0em;
  padding: 1em 3em 1em 1em;
  border: 2px solid #01226f;
}
.profit .lists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}
.profit .lists ul li {
  margin: 1.5em;
}
.profit .lists ul li ion-icon {
  margin-right: 0.5em;
}

.requirements {
  padding: 1em 3em 1em 1em;
}
.requirements .lists ul li {
  margin: 1.5em;
}
.requirements .lists ul li ion-icon {
  margin-right: 0.5em;
}

.description p {
  margin: 1em 0;
}
.description p:nth-child(2) {
  line-height: 200%;
}

.coursefor p {
  margin: 1em 0;
}
.coursefor p:nth-child(2) {
  line-height: 200%;
}
.m10 {
  margin-top: 10rem;
}

.full-container {
  padding: 0 !important;
}

.column-fill {
  min-height: 100vh;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mr-10 {
  margin-right: 10rem;
}

.ml-10 {
  margin-left: 10rem;
}

.is-primay-label {
  color: #01226f;
  font-weight: 600;
  margin-bottom: 20px !important;
}

.text-box {
  background-color: #eff1f5;
  height: 63px !important;
  font-weight: 600;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9d9b9b !important;
  font-style: italic !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9d9b9b !important;
  font-style: italic !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9d9b9b !important;
  font-style: italic !important;
}

.full-wd-btn {
  width: 100%;
  height: 64px;
  border-radius: 10px !important;
}

.is-image-btn {
  width: 64px !important;
  height: 64px !important;
  background-color: transparent;
  border: none !important;
  outline: none !important;
  cursor: pointer;
}

.signin-left-section {
    background-color: white !important;
}

.sign-in-graphics {
    background-color: #DDE7FE;
}

.login_arc {
    height: 10rem;
    margin-left: 76%;
}

.has-text-light-blue {
    color: #516EB0;
}


@media screen and (max-width: 768px) {
  .mr-10 {
    margin-right: 3rem;
  }
  .ml-10 {
    margin-left: 1rem;
  }

  .mt-7 {
    margin-top: 2em !important;
  }
}
/* ================= Media Queries Section (YNW) =================== */
@media screen and (max-width: 768px) {
  .mr-10 {
    margin-right: 3rem;
  }
  .ml-10 {
    margin-left: 1rem;
  }

  .mt-7 {
    margin-top: 2em !important;
  }
}
/* ================= 1024px Screen Section (YNW) =================== */
@media screen and (max-width: 1024px) {
  .dropdown {
    display: block;
  }
}
/* ================= 1100px Screen SECTION (YNW) =================== */
@media screen and (max-width: 1100px) {
  .container .home_content .text p {
    font-size: 2em;
  }
  .container .home_content .text p img {
    width: 100px;
  }
  .container .home_content .img {
    width: 400px;
  }
}
/* ================= 930px Screen SECTION (YNW) =================== */
@media screen and (max-width: 930px) {
  .container {
    padding: 5em 2em 0 2em;
  }
  .container .home_content {
    padding: 0 2em;
  }
}
/* ================= 820px Screen SECTION (YNW) =================== */
@media screen and (max-width: 820px) {
  .container .home_content .text p {
    font-size: 1.5em;
  }
  .container .home_content .text p img {
    width: 80px;
  }
}
/* ================= 768px Screen SECTION (YNW) =================== */
@media screen and (max-width: 768px) {
  .container .home_content .img {
    display: none;
  }
  .container .start_learning .categories {
    flex-wrap: wrap;
  }
}
/* ================= 768px Screen SECTION (YNW) =================== */
@media screen and (max-width: 1311px) {
  .features .features-container .features-title h1 {
    width: 100%;
  }
}

/* ================= Animation Csss Section =================== */

.slide-in-right {
	-webkit-animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.slide-out-right {
	-webkit-animation: slide-out-right 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: slide-out-right 0.3s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
 @-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
}



/* ================= Media Queries Section (MK) =================== */

/* ================= 1215px Screen Section (MK) =================== */
@media screen and (max-width: 1215px) {
  .list-title{
    font-size: 1.2vw !important;
  }
}
/* ================= 1170px Screen Section (MK) =================== */
@media screen and (max-width: 1170px) {
  .my-hero{
    width:80%;
    margin: auto;
    flex-direction: column;
    text-align: center;
    margin-top: 8vw;
    margin-bottom: 4rem;
  }
  .section-title{
    font-size: 3vw;  
  }
  .section-subtitle{
    width:80%;
    margin:auto;
    font-size: 2vw;
  }
  .message{
    margin-bottom: 4rem;
  }
  .message-background{
    flex-direction: column;
    background-size: cover;
    background-position: left;
    background-repeat: repeat;
    padding: 4rem;
    text-align: center;
  }
  .message-background h1 {
    padding: 0;
  }
  .message-background-image{
    /* display: none; */
    border-radius: 10px;
    margin-top: 3rem;
  }
  .trending {
    margin-bottom: 4rem;
  }
  .trending > h1 {
    text-align: center;
  }
  .features-container {
  flex-direction: column;
  text-align: center;

  }
  .features-title{
    width: 100% !important;
    height: fit-content !important;
  }

  .features .features-container .features-title h1{
    padding: 4rem 0rem;
  }

  .features-card {
    width: 100%;
    height: 50vh;
  }
  .features-chunk {
    background-color: var(--primary);
  }
  .features-chunk > div {
    display: flex;
  }
  .features-chunk > div:last-child > div:last-child{
    background-color: #dde7fe !important;

  }
  .features-chunk > div:last-child > div:last-child * {
    color: var(--primary) !important;
  }
  .features-chunk > div:last-child > div:first-child {
    background-color: #839ee0 !important;
  }
  .features-chunk > div:last-child > div:first-child * {
    color: #FFFFFF !important;
  }
  
}
/* ================= 1023px Screen Section (MK) =================== */
@media screen and (max-width: 1023px) {
  main .container {
    margin-top: 0rem;
  }

  .mobile-nav-switch{
    display: flex;
  }
  .footer{
    padding: 2rem;
  }
  .list-title{
    font-size: 1.4vw !important;
  }
  .review-content div h1 {
    font-size: 2vw;
  }
  .review-content p{
    width: 90%;
  }
  .reverse .review-content{
    width: 100%;
  }
  .reverse .review{
    width: 100%;
  }
  .reverse .review .review-content p,.review-content p{
   font-size: 0.8rem;
  }
  .instructor{
    text-align: center;
    margin-bottom: 3rem;
  }
  .instructor div:first-child {

    flex-direction: column;
  }
  .instructor.hero.is-medium.hero-body{
    padding: 4rem 4.5rem;
  }
  .instructor-img {
    padding-top: 2rem;
    margin: auto;
  }
  .never-late-to-learn{
    text-align: center;
    padding: 2rem;
  }
  .never-late-to-learn div {
    justify-content: center;
  }
  .never-late-to-learn > h1 {
    width: 80%;
    margin: auto;
  }
  .register-now {
    display: none;
  }  

}
/* ================= 768px Screen Section (MK) =================== */
@media screen and (max-width: 768px) {
  main .container {
    margin-top: 0vw;
  }
  .section-title{
    font-size: 5vw;
  }
  .my-hero > div:last-child > svg,.instructor-img{
    width: 60vw;
  }
  .list-title{
    font-size: 3vmax !important;
  }
  .footer .container{
    margin-top: 120vmax;
  }
  .student-voice {
    padding-left: 0;
  }
  .review-content div h1 {
    font-size: 3vw;
  }
  .review {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
  }
  .review img:first-child{
    width: 30vw;
    margin-bottom: 1rem;
  }
  .review svg{
    display: none;
  }
  .reverse .review .profile img{
    width: 30vw;
  }
  .review-content div {
    margin: auto;
  }
  .review-content p,.reverse .review .review-content p{
    width: 100%;
  }
  .reverse .review .profile img{
    margin: 1rem 0rem;

  }
  .profile{
    padding-right: 0;
  }
  .review-content img{
    padding: 0;
    padding-top: 1rem;
  }
  .review-content p{
    padding: 1rem 0.4rem;
  }
  .mobile-nav div a {
    font-size: 3vw;
  }
}
/* ================= 480px Screen Section (MK) =================== */
@media screen and (max-width: 480px) {
  .section-title{
    font-size: 6vmin;
  }
  .section-subtitle {
    font-size:2.8vmin !important;
  }
  .hero-image svg{
    width: 60vw;
  }
  .message-background {
    padding: 4rem;
  }
  .message-background-image{
    margin-top: 2rem;
  }
  
  .features .features-container .features-title h1{
    padding: 3rem;
  }
  .features-chunk {
    flex-direction: column;
  }
  .features-card > div{
    padding: 0;
  }
  .features-card{
    height: 40vh;
  }
  .features-card > div:last-child{
    padding-top: 0rem;
  }
  .features-card > div:last-child > h1{
    font-size: 3vw;
    padding-top: 1rem;
    padding-bottom: 1rem;

  }
  .features-card > div:last-child > p{
    font-size: 2vw;
  }
  .features-chunk > div > div > div > img{
    width:40%;
  }
  /* .instructor{
    text-align: center;
    margin-bottom: 3rem;
  } */
  .instructor > div > div:last-child {
    margin-top: 2rem;
  }
  .secure-payment > div {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .copyright{
    padding: 2rem;
  }
  .mobile-nav div {
    flex-direction: column;
    width: auto;
  }
  .mobile-nav div:last-child {
    margin-top: 1rem !important;
  }
  .mobile-nav div a {
    font-size: 4vw;
    text-align: center;
  }
  
}
/* ================= 480px Screen Section (MK) =================== */
@media screen and (max-width: 400px){

}

/* start css for payment method */

/* end css for payment method */
