a {
  color: #4a4a4a;
}
.course-list{
  width: 85%;
  margin-left: auto;
}
.header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 2em 0;
}
.card-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.card-container .cards {
  position: relative;
  width: 350px;
  height: 300px;
  background-color: #fff;
  border-radius: 20px;
  margin-right: 3vw;
  margin-bottom: 2rem;
  overflow: hidden;
}
.card-container .cards img {
  width: 100%;
  height: 50%;
}
.card-container .cards .details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container .cards .details .detail {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}
.card-container .cards .details .detail .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.2em;
}
.card-container .cards .details .detail ion-icon {
  font-size: 15px;
}
.card-container .cards .details .detail .content span {
  color: #4a4a4a;
  font-size: 10px;
}
.card-container .cards .details .detail .content h4 {
  font-size: 12px;
  margin: 0;
}
.card-container .cards h2 {
  padding: 1em;
  font-weight: bold;
}
.card-container .cards .info {
  position: absolute;
  width: 90%;
  top: 0.5em;
  left: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.card-container .cards .rating {
  position: absolute;
  top: 8em;
  right: 1em;
  display: flex;
  align-items: center;
}
