:root {
  --primaryBackgroundColor: #fefbf6;
  --secondaryBackgroundColor: #f3b33e;

  --primary: #01226f;
  --secondary: #f3b33e;
}
/* Navigation Bar Css */
.secondaryColor {
  background-color: var(--secondary) !important;
}
.navbar-end a {
  color: rgba(1, 34, 111, 0.62);
}
.navbar-end a:hover {
  font-weight: bold;
}
.navbar-end a.active {
  color: #01226f;
  font-weight: bold;
  border-bottom: 2px solid var(--primary);
}

/* Main Container Css */
main .container {
  margin-top: 10%;
}

/* Badge for notification */
.badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  /* padding: 4px; */
  border-radius: 50%;
  background-color: var(--primary);
  color: #ffffff;
}
/* Footer CSS */
footer {
  background-image: url("../img/header_footer/footer\ background.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent !important;
  border-bottom: 2px solid #01226f;
}
main .container {
  margin-top: 10%;
}
.badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  top: 0;
  right: 0;
  /* padding: 4px; */
  border-radius: 50%;
  background-color: #01226f;
  color: #ffffff;
}
footer {
  background-image: url("../img/header_footer/footer\ background.svg");
  background-size: cover;

  /* background-size: 80%; */
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
}
footer .container {
  margin-top: 30%;
}

/* Message followed after hero section CSS  */
.message-background,
.message-background-image {
  background-size: cover;
  background-repeat: no-repeat;
}
.message-background {
  background-color: var(--secondary);
  background-image: url("../img/header_footer/faded\ text.svg");
}
.message-background-image {
  background-image: url("../img/header_footer/discover\ image.png");
}
.message-hightlight {
  position: relative;
}
.message-hightlight img {
  position: absolute;
  width: 10vw;
  left: 0;
  bottom: 0;
}

/* Hightlight CSS */
.hightlight {
  color: var(--secondary);
}

/* Feature in home  CSS */
.feature-background-1 {
  background-color: #839ee0 !important;
}
.feature-background-2 {
  background-color: #dde7fe !important;
}

/* Course card css */
.price-tag {
  position: absolute;
  right: 0;
  background-color: var(--primary);
  color: #ffffff;
  padding: 0.8vw;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;

  font-weight: bold;
}

/* Quiz modal Css */
.modal-card-head {
  background-color: #ffffff !important;
  border-bottom: none;
  color: var(--primary) !important;
}
.modal-card-body {
  padding-left: 2rem;
}
.modal-card-body > div > label {
  color: #2b4787 !important;
}
.modal-card-foot {
  background-color: #ffffff !important;
  justify-content: flex-end;
}
.radio + .radio {
  margin-left: 0rem;
}

/* General Css */
.register-now {
  background-image: url("../img/header_footer/desk.svg");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 0% 75%;
}
.overflow {
  overflow: scroll !important;
}
.status-content {
  font-size: 0.8vw !important;
  color: #4f6494 !important;
}
.primary-light-color {
  color: #7993cf !important;
}

.signin-left-section {
  background-color: white !important;
}

.sign-in-graphics {
  background-color: #dde7fe;
}

.login_arc {
  height: 10rem;
  margin-left: 76%;
}

.has-text-light-blue {
  color: #516eb0;
}

@media screen and (max-width: 768px) {
  .mr-10 {
    margin-right: 3rem;
  }
  .ml-10 {
    margin-left: 1rem;
  }

  .mt-7 {
    margin-top: 2em !important;
  }
}

/* ================= EXPLORE SECTION =================== */
.container .home_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .home_content .text p {
  font-size: 3em;
  font-weight: bold;
  position: relative;
}
.container .home_content .text p img {
  position: absolute;
  width: 180px;
  top: 1em;
  right: 8em;
}
.container .home_content .img {
  width: 600px;
}

.container .start_learning {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}
.container .start_learning .categories {
  display: flex;
  align-items: center;
  margin-top: 2em;
}
.container .start_learning .categories p {
  margin: 0 0.5em;
  cursor: pointer;
}
.container .start_learning .categories p.active {
  font-weight: bold;
}

@media screen and (max-width: 1100px) {
  .container .home_content .text p {
    font-size: 2em;
  }
  .container .home_content .text p img {
    width: 100px;
  }
  .container .home_content .img {
    width: 400px;
  }
}
@media screen and (max-width: 930px) {
  .container {
    padding: 5em 2em 0 2em;
  }
  .container .home_content {
    padding: 0 2em;
  }
}
@media screen and (max-width: 820px) {
  .container .home_content .text p {
    font-size: 1.5em;
  }
  .container .home_content .text p img {
    width: 80px;
  }
}
@media screen and (max-width: 768px) {
  .container .home_content .img {
    display: none;
  }
  .container .start_learning .categories {
    flex-wrap: wrap;
  }
}

.courses {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: none;
  overflow-x: scroll;
  margin-top: 3em;
}
.courses::-webkit-scrollbar {
  display: none;
}
.courses .cards {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 3em 3em 0;
  overflow: hidden;
}
.courses .cards img {
  width: 100%;
}
.courses .cards .details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.courses .cards .details .detail {
  display: flex;
  align-items: center;
  padding: 0.5em 1em;
}
.courses .cards .details .detail .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.2em;
}
.courses .cards .details .detail ion-icon {
  font-size: 15px;
}
.courses .cards .details .detail .content span {
  font-size: 10px;
}
.courses .cards .details .detail .content h4 {
  font-size: 12px;
}
.courses .cards h2 {
  padding: 1em;
  font-weight: bold;
}
.courses .cards .rating {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}
.courses .cards .rating .star {
  color: #e9b556;
}
.courses .cards .price {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3em 1em;
  background: #01226f;
  color: #fff;
}
.navbar-item,
.dropdown-item {
  cursor: pointer;
}
.dropdown {
  display: none;
}
@media screen and (max-width: 1024px) {
  .dropdown {
    display: block;
  }
}

/* ================= COURSE INFO SECTION =================== */
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cards {
  position: relative;
  width: 350px;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 2em;
}
.cards .price {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}
.cards .price p:nth-child(2) {
  text-decoration: line-through;
  margin: 0 0.5em;
}
.cards .buttons {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
}
.cards .buttons .button {
  width: 100%;
  height: 50px;
  margin: 0.5em 0;
}
.cards .buttons .button:nth-child(2) {
  margin-right: 0.5em;
}
.cards .wish {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  font-size: 3em;
}
.details .star {
  color: #e9b556;
  margin-right: 0.5em;
}
.details p {
  margin-bottom: 1em;
}
.details p a {
  text-decoration: underline;
}
@media screen and (max-width: 768px) {
  .info {
    flex-direction: column;
  }
}

.profit {
  width: 100%;
  margin: 5em 0em;
  padding: 1em 3em 1em 1em;
  border: 2px solid #01226f;
}
.profit .lists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0.5em;
}
.profit .lists ul li {
  margin: 1.5em;
}
.profit .lists ul li ion-icon {
  margin-right: 0.5em;
}

.requirements {
  padding: 1em 3em 1em 1em;
}
.requirements .lists ul li {
  margin: 1.5em;
}
.requirements .lists ul li ion-icon {
  margin-right: 0.5em;
}

.description p {
  margin: 1em 0;
}
.description p:nth-child(2) {
  line-height: 200%;
}

.coursefor p {
  margin: 1em 0;
}
.coursefor p:nth-child(2) {
  line-height: 200%;
}
.m10 {
  margin-top: 10rem;
}

.full-container {
  padding: 0 !important;
}

.column-fill {
  min-height: 100vh;
}

.mt-7 {
  margin-top: 5rem !important;
}

.mr-10 {
  margin-right: 10rem;
}

.ml-10 {
  margin-left: 10rem;
}

.is-primay-label {
  color: #01226f;
  font-weight: 600;
  margin-bottom: 20px !important;
}

.text-box {
  background-color: #eff1f5;
  height: 63px !important;
  font-weight: 600;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #9d9b9b !important;
  font-style: italic !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #9d9b9b !important;
  font-style: italic !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #9d9b9b !important;
  font-style: italic !important;
}

.full-wd-btn {
  width: 100%;
  height: 64px;
  border-radius: 10px !important;
}

.is-image-btn {
  width: 64px !important;
  height: 64px !important;
  background-color: transparent;
  border: none !important;
  outline: none !important;
  cursor: pointer;
}

.signin-left-section {
    background-color: white !important;
}

.sign-in-graphics {
    background-color: #DDE7FE;
}

.login_arc {
    height: 10rem;
    margin-left: 76%;
}

.has-text-light-blue {
    color: #516EB0;
}

@media screen and (max-width: 768px) {
  .mr-10 {
    margin-right: 3rem;
  }
  .ml-10 {
    margin-left: 1rem;
  }

  .mt-7 {
    margin-top: 2em !important;
  }
}
