body {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.sessionBox {
  display: none;
}
.sidebar {
  width: 20%;
  height: 100%;
  background-color: black;
}
.container {
  width: 80%;
  height: 100%;
  background-color: #fff;
}
.container form {
  padding: 2em;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}
.container form .left {
  padding: 0 2em 0 0;
  width: 50%;
  height: 100%;
  overflow-y: auto;
  overflow-x: none;
  scroll-behavior: smooth;
}
.container form .left::-webkit-scrollbar {
  display: none;
}
.container form .left::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.container form .left input {
  width: 100%;
  margin: 1em 0;
  padding: 0.5em 1em;
  border: 2px solid #000;
  border-radius: 10px;
}
.container form .left input:focus {
  outline: none;
}
.container form .left textarea {
  width: 100%;
  height: 80px;
  margin: 1em 0;
  padding: 0.5em 1em;
  border: 2px solid #000;
  border-radius: 10px;
  resize: none;
  overflow-x: 0;
  overflow-y: auto;
}
.container form .left textarea:focus {
  outline: none;
}
.container form .left textarea::-webkit-scrollbar {
  width: 5px;
  margin-right: 0.5em;
  background: transparent;
}
.container form .left textarea::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.container form .left .additional {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 0;
}
.container form .left .additional p:nth-child(2) {
  cursor: pointer;
  text-decoration: underline;
}
.container form .left .benefitList ul li,
.container form .left .requirementList ul li {
  padding: 0 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.8em;
}
.container form .left .benefitList ul li span,
.container form .left .requirementList ul li span {
  display: flex;
  align-items: center;
}
.container form .left .benefitList ul li span:nth-child(2),
.container form .left .requirementList ul li span:nth-child(2) {
  cursor: pointer;
}
.container form .left .benefitList ul li span ion-icon,
.container form .left .requirementList ul li span ion-icon {
  margin-right: 0.5em;
}
.container form .centerbar {
  position: absolute;
  width: 2px;
  height: 90%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5);
}
.container form .right {
  position: relative;
  padding: 0 0 0 2em;
  width: 50%;
  height: 100%;
  overflow-y: auto;
  overflow-x: none;
  scroll-behavior: smooth;
}
.container form .right::-webkit-scrollbar {
  display: none;
}
.container form .right::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}
.container form .right .chapterBar {
  margin-bottom: 4em;
}
.container form .right .chapterBar a {
  float: right;
}
.container form .right .chapters a .chapter {
  padding: 0.5em;
  margin: 0.5em 0;
  border: 2px solid #000;
  border-radius: 10px;
}
.container form .right input {
  width: 100%;
  margin: 1em 0;
  padding: 0.5em 1em;
  border: 2px solid #000;
  border-radius: 10px;
}
.container form .right input:focus {
  outline: none;
}
.container form .right input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.container form .right select {
  width: 100%;
  margin: 1em 0;
  padding: 0.5em 1em;
  border: 2px solid #000;
  border-radius: 10px;
}
.container form .right select:focus {
  outline: none;
}
.container form .right .promotion {
  margin: 1em 0;
  display: flex;
  align-items: center;
}
.container form .right .promotion .percentage {
  display: flex;
  align-items: center;
  margin-left: 2em;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 0.2em 1em;
}
.container form .right .promotion .percentage .set {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  margin-left: 1em;
}
.container form .right .promotion .percentage .set div {
  cursor: pointer;
}
.container form .right .buttons {
  margin: 1.5em 1em 0 0;
  float: right;
}
.container form .right .buttons input {
  width: 80px;
  height: 40px;
}

.form-input {
  position: relative;
  margin-bottom: 1em;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  background-color: #d9d9d9;
  overflow: hidden;
}
.form-input .preview img {
  width: 100%;
  display: none;
}
.form-input input {
  display: none;
}
.form-input label {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  font-size: 15px;
  text-decoration: underline;
  font-weight: 600;
  cursor: pointer;
}

.benefit,
.requirement {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 0.5em 1em;
  border: 3px solid #000;
  border-radius: 10px;
  background: #fff;
  display: none;
}
.benefit p,
.requirement p {
  margin-bottom: 1em;
}
.benefit input,
.requirement input {
  width: 100%;
  margin: 1em 0;
  padding: 0.5em 1em;
  border: 2px solid #000;
  border-radius: 10px;
}
.benefit .buttons,
.requirement .buttons {
  float: right;
  margin: 0.5em 0;
}

@media screen and (max-width: 768px) {
  .container form {
    display: block;
    overflow-y: auto;
    scroll-behavior: smooth;
  }
  .container form .left,
  .container form .right {
    width: 100%;
    padding: 0;
  }
  .container form .centerbar {
    display: none;
  }
  .container form .left::-webkit-scrollbar,
  .container form .right::-webkit-scrollbar {
    display: none;
  }
}
