/* title */
section h1 {
  position: relative;
  left: 2rem;
}
section sub {
  font-style: italic;
  position: relative;
  right: 13.2rem;
  top: 1.9rem;
}
/* input */
.input {
  background-color: rgb(239, 241, 245);
}
/* label */
.label {
  color: #01226f;
}
/* textarea */
.textarea {
  background-color: rgb(239, 241, 245);
}
/* button */
.button {
  width: 25rem;
  height: 3rem;
}
/* call and send Us */
.contact {
  color: rgb(157, 155, 155);
}
.contact sub {
  color: #01226f;
}
.contact img {
  width: 10%;
  height: 15%;
  position: relative;
  top: 0.5rem;
}

/* Responsive */
@media only screen and (max-width: 800px) {
  figure img {
    display: none;
  }
  section h1 {
    line-height: 1rem;
  }
  section sub {
    position: relative;
    left: 7rem;
    bottom: 0.1rem;
    display: block;
  }
  .contact img {
    display: none;
  }
  .contact {
    display: inline;
    position: relative;
    top: 1.5rem;
  }
}
