section {
    position: relative;
bottom: 120px;
    right: 110px;
}

section h2{
 position: relative;
 top: 30px;
 left: 4px;
}


/* free Courses */

/* Step1 */
.StepOne>img {
    float: left;
    position: relative;
    bottom: 350px;
    height:350px ;
    width: 650px;
}

.StepOne {
    position: relative;
    top: 120px;
}

.StepOne h1 {
    color: rgb(1, 34, 111);
    position: relative;
   left: 130px;
   bottom: 300px;
}

.StepOne p {
    width: auto;
    position: relative;
    left: 130px;
    bottom: 278px;
}

/* step2 */

.Steptwo>img {

    float: right;
    position: relative;
    bottom: 200px;
    left: 268px;
    width: 700px;
    height:350px ;
    width: 650px;
}

.Steptwo {
    position: relative;
    right: 35px;
    top: 50px;
}

.Steptwo h1 {
    color: rgb(1, 34, 111);
    position: relative;
    bottom: 150px;
    left: 100px;
}

.Steptwo p {
    position: relative;

    bottom: 128px;
    left: 100px;
}


/* Step3 */

.StepThree>img {
    float: left;
    position: relative;
    bottom: 350px;
    height:350px ;
    width: 650px;
}

.StepThree {
    position: relative;
    top: 280px;
}

.StepThree h1 {
    color: rgb(1, 34, 111);
    position: relative;
   left: 130px;
   bottom: 300px;
}

.StepThree p {
    width: auto;
    position: relative;
    left: 130px;
    bottom: 278px;
}

/* Paid Courses */
#paidcourses> h1{
    position: relative;
    bottom:  50px;
}

/* Step 1 */
.Steponeforpaid>img {

    float: right;
    position: relative;
    bottom: 200px;
    left: 268px;
    width: 700px;
    height:350px ;
    width: 650px;
}

.Steponeforpaid {
    position: relative;
    right: 35px;
  bottom: 50px;
}

.Steponeforpaid h1 {
    color: rgb(1, 34, 111);
    position: relative;
    bottom: 150px;
    left: 100px;
}

.Steponeforpaid p {
    position: relative;
    bottom: 128px;
    left: 100px;
}


/* Step 2 */

.Steptwoforpaid>img {
    float: left;
    position: relative;
    bottom: 350px;
    height:350px ;
    width: 650px;
}

.Steptwoforpaid {
    position: relative;
    top: 200px;
}

.Steptwoforpaid h1 {
    color: rgb(1, 34, 111);
    position: relative;
   left: 130px;
   bottom: 300px;
}

.Steptwoforpaid p {
    width: auto;
    position: relative;
    left: 130px;
    bottom: 278px;
}


/* Note */
.Note{
   position: relative;
   top: 20px;
   left: 550px;
}
    

.Note h1{
    position: relative;
    right: 720px;
}
.Note p{
   position: relative;
   bottom: 35px;
   right: 28px;
width: 400px;   
}       

/* Pointer */

.firstpoint{
   height: 10px;
   background-color: black;

}