.admin-list-new-admin{
    /* width: 70vw; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.admin-list-new-admin > button {
    font-size: 0.8rem;
    color: #848484;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}
.admin-list-new-admin > button:hover {
    color: #000000;
    font-weight: 600;
}
.admin-list-container{
    /* width: 70vw; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid #00000043;
    border-radius: 15px;
    padding: 1em;
    margin-top: 3rem;
}
.profile{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin-right: 4rem;

}
.profile-image img{
    width: 80px;
    height:80px;
    border-radius: 50%;
    /* clip-path: circle(); */
    border: 4px solid #FFFFFF;

}
.profile-action-link a {
    font-weight: 500;
    font-size: 0.8rem;
    color: #706d6d97;
    padding: 0.6rem;
}
.profile-action-link a:hover{
    color: #000000;
}
.admin-info{
    width: 30%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 2rem;
}
.info-chunk{
    padding: 1rem 0rem;

}
.info-chunk h3{
    font-weight: 600;
}
.info-chunk label{
    color: #848484;
    font-weight: 500;
}
