.dashboard{
    /* background-color: red; */
    display: flex;
    margin-top: 2rem;
}
.left-content{
    width: 65%;
}
.right-content{
    width: 35%;
    /* background-color: aquamarine; */
}
.status-container{
    display: flex;
    border-radius: 28px;
    color: #FFFFFF;
    background: url(../img/dashboard\ status\ bg.svg);
    background-repeat: no-repeat;
    background-position: 0% 104%;
    background-color: #F3B33E;

}
.status-container svg  {
    margin-top: auto;
}
.status{
    padding: 2rem 1rem;
    /* background-color: #3f3f3f; */
    margin-right: 1rem;

}
.status >  * {
    padding: 0rem 0.4rem 1rem 0.8rem;
}
.status > h1 {
    font-size: 3vw;
    font-weight: 700;
}
.status > p:first-child {
    font-weight: 0.8vw;
    color: #F9F8F8;
}
.status > p:last-child {
    font-size: 0.7vw;
    color: #F1EFEF;
}
.student-table{
    background-color: #FFFFFF;
    height:580px;
    overflow-y: scroll;
    margin-top: 2rem;
    border-radius: 28px;
    border: 2px solid #000000;
}
.student-table > div {
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
}
.student-table > div > a {
    font-size: 0.8rem;
    font-weight: 600;
    background: #F3B33E;
    box-shadow: 0px 4px 10px rgba(237, 222, 193, 0.2), inset 0px -3px 0px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    text-decoration: none;
    color: #FFFFFF;
    padding: 0.6rem 1rem;
}
.student-table > table {
    width: 100%;
    padding: 0.6rem;
    text-align: left;

}
.student-table > table > thead > tr > th {
    width: 30px;
    border-top: 3px solid #F7F7F7;
    border-bottom: 3px solid #F7F7F7;
    padding: 1rem 1rem;
    font-weight: 500;
    color: #232121;
    font-size: 1vw;

}
.student-table > table > tbody > tr > td {
    padding: 0.6rem 1rem;
    font-size: 0.9rem;
}
.instructor-request-list,.appeal-request-list{
   margin-left: 1rem;
   padding: 2rem;
   background-color: #FFFFFF;
   border-radius: 28px;
   height: 350px;
   overflow-y: scroll;
   border: 2px solid #000000;
   margin-bottom: 1rem;
}
.list-info > div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 2px solid #F7F7F7;
}
.list-info > div:first-child > a{
    color: #000000;
    font-weight: 600;
    font-size: 0.8vw;
}
.request-list {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}
.request-list > .icons {
}
.request-list > div > p {
    padding-left: 1rem;
}
.request-list > div > p:first-child {
    font-size: .9vw;
    text-transform: capitalize;
}
.request-list > div > p:first-child > span {
    font-weight: 600;
}
.request-list > div > p:last-child {
    color: #717171;
    font-size: 0.7rem;
}
