@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* start instructor request page */
.ir-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5vmin;
    gap:3vmin;
}
.requestedBox{
    max-width: 275px;
    border: 1px solid #333;
    border-radius: 15px;
    padding: 3vmin 2vmin;
    text-align: center;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1vmin;
}
.requestedBox .dateAndDelete{
    width: 100%;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    justify-content: space-between;
}

.requestedBox .delete{
    cursor: pointer;
    display: inline;
}
.ir-delete-input{
 display: none;
}
.ir-delete-input:checked + .ir-confirm-modal{
    display: flex;
}

.ir-confirm-modal{
    display: flex;
    /* position: absolute;
    left:15vw;
    top:20vh; */
    /* width: 50vw;
    height: 50vh; */
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    gap:10vh;
    /* font-size: 2rem; */
    font-weight: 600;
    border-radius: 20px;
    background-color: #555;
    color:#eee;
    display: none;

    padding:3vmin;
    margin-top: 10vmin;
    gap:3vmin;
}

.ir-btn {
    border:none;
    font-size: 1rem;
    margin: 0 3vmin;
    font-weight: 500;
    box-shadow: 0 0 2px #111;
    color:#eee;
}



.ir-profile-img {
    width: 70%;
    border-radius: 50%;
    margin-bottom: 3vmin;
}
.requestedBox .name{
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1vmin;
}
.requestedBox .email{
    font-size: 0.8em;
    color: #757575;
    text-decoration: underline;
    margin-top: 1vmin;
}
.ir-card-text{
    text-align: left;
    font-style: italic;
    font-size: 0.8em;
    font-weight: 500;
    margin-top: 3vmin;
}
.info{
    width: 8vw;
    height: 5vmin;
    font-weight: 500;
    background-color: #333;
    border: 1px solid #333;
    border-radius: 15px;
    color: #eee;
    margin-top: 3vmin;
}





/* end instructor request page */
@media screen and (max-width: 720px) {
    .instructors .instructor div  h2{
        font-size: 0.8em;
    }
}