@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    font-family: Poppins;
}
.sideNavbar{
    height: 2000px;
    width: 20%;
    background-color: #000;
}
.container{
    position: absolute;
    left: 25%;
    top: 10vh;
}
/*start instructor list page */
h2 .view{
    margin-left: 35vw;
    color: #706D6D;
    font-size: 0.5em;
    text-decoration: underline;
}
.instructors .instructor{
    display: flex;
    justify-content: space-around;
    border: 1.5px solid #000;
    border-radius: 15px;
    padding: 2vw;
    margin-bottom: 3vh;
}
.instructors .profile .detail a{
    color: #706D6D;
    margin-left: 1vw;
    text-decoration: underline;
}
.instructors .instructorName .name{
    margin-bottom: 3vh;
}
.instructors .address .road{
    margin-bottom: 3vh;
}
.paginationBar{
    text-align: center;
    margin-top: 5vh;
}
.table.is-fullwidth {
    width: 96% !important;
}
/*end instructor list page */

/* start instructor request page */
.requestedList{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5vh;
}
.requestedBox{
    width: 275px;
    border: 2px solid #000;
    border-radius: 15px;
    padding: 2vh;
    margin-bottom: 2vw;
    text-align: center;
    color: #000;
}
.requestedBox .dateAndDelete .date img{
    margin-left: 10vw;
}
.requestedBox .name{
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1vh;
}
.requestedBox .email{
    font-size: 0.8em;
    color: #757575;
    text-decoration: underline;
    margin-top: 1vh;
}
.requestedBox .text{
    text-align: left;
    font-style: italic;
    font-size: 0.8em;
    font-weight: 500;
    margin-top: 3vh;
}
.info{
    width: 8vw;
    height: 5vh;
    font-weight: 500;
    background-color: #000;
    border: 1px solid #000;
    border-radius: 15px;
    color: #fff;
    margin-top: 3vh;
}
/* end instructor request page */
@media screen and (max-width: 720px) {
    .instructors .instructor div  h2{
        font-size: 0.8em;
    }
    .instructors .profile .detail a{
        font-size: 0.6em;
    }
}
@media screen and (max-width: 420px) {
    .instructors .instructor div  h2{
        font-size: 0.6em;
    }
    .instructors .profile .detail a{
        font-size: 0.6em;
    }
}


.o-pagination-link{
    background-color: #333;
    color:#eee;
}

.is-current {
    background-color: orange;
}