.setting-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
.setting-container > div {
    display: flex;
    align-items: center;
    /* background-color: red; */
    padding: 2rem;
    border-radius:10px;
    cursor: pointer;
    width: 26vw;

}
.setting-container > div:hover{
    opacity: 0.4;
}
.setting-container > div > i {
    width:3rem;
    text-align: center;
    font-size: 2.4rem;
    /* color: #F3B33E; */
    /* margin-right: 1rem; */

}
.setting-container div > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2rem;
}
.setting-container div > div > p > span{
    /* color: #F3B33E;
    font-weight: 500; */
}

