.setting-container{
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
}
.setting-container > a {
    display: flex;
    align-items: center;
    padding: 2rem;
    border-radius:10px;
    cursor: pointer;
    width: 26vw;
    color: #1e1d1d;
    text-decoration: none;
}
.setting-container > a:hover{
    opacity: 0.4;
}
.setting-container > a > i {
    width:3rem;
    text-align: center;
    font-size: 2.4rem;
    /* color: #F3B33E; */
    /* margin-right: 1rem; */

}
.setting-container a > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 2rem;
}
.setting-container a > div > p > span{
    /* color: #F3B33E;
    font-weight: 500; */
}

