/* title of the guide */
.text h3 {
  color: black;
}
/* select image */
.file {
  background-color: #d9d9d9;
  width: 30rem;
  height: 15rem;
  border-radius: 1rem;
}
/* button */
button {
  width: 10rem;
  margin-top: 2rem;
}
.move {
  position: relative;
  left: 0.5rem;
}
/* color change */
.label {
  color: black;
}
.subtitle {
  color: black;
}
.column {
  color: black;
}
